spec:
  template:
    metadata:
      labels:
        app: n8n
    spec:
      enableServiceLinks: false
      securityContext:
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000

      containers:
      - name: n8n
        image: n8nio/n8n:latest
        ports:
        - containerPort: 5678
        env:
        - name: DB_TYPE
          value: "sqlite"
        - name: N8N_BASIC_AUTH_ACTIVE
          value: "true"
        - name: N8N_BASIC_AUTH_USER
          valueFrom:
            secretKeyRef:
              name: n8n-auth
              key: username
        - name: N8N_BASIC_AUTH_PASSWORD
          valueFrom:
            secretKeyRef:
              name: n8n-auth
              key: password
        - name: N8N_SECURE_COOKIE
          value: "false"
        volumeMounts:
        - name: n8n-data
          mountPath: /home/node/.n8n

      volumes:
      - name: n8n-data
        persistentVolumeClaim:
          claimName: n8n-pvc
